// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$success: #2fd64c
$danger: #ff0033

// -----------------------
// project colors
// -----------------------

$c1: #F4F0F0
$c2: #E9E8E8
$c3: #828282 
$c4: #151515
$c5: #AF5B5B
$c6: #963636
