@import '../local/index.sass'
@import '../templates/our-performance.sass'
@import '../templates/cta-text-btn.sass'
@import '../templates/process-steps.sass'
@import '../templates/resources-links.sass'

/* -----------------------
    Buy Page Styles
   ----------------------- */

/* -----------------------
    Buy Welcome Styles
   ----------------------- */ 

.buy-welcome
  @extend %section-padding-top

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include tablet-md
      padding: 0 2rem
      max-width: 100%
    @include phone-lg
      padding: 0 1rem
    max-width: $width
  
  &__column
    @include col(10)
    @include col--offset(1)
    padding: 0

  &__title
    @extend %title-margin
    text-align: center

  &__text
    @extend %wysiwyg-styles
    @include desktop
      margin-bottom: 5rem
    @include nexus
      margin-bottom: 2rem
    margin-bottom: 4rem
  
  &__video-container
    @include laptop
      height: calc(75vw * .5625)
    @include phone-lg
      height: 50vw
    position: relative
    width: 100%
    height: calc(60vw * .5625)

  &__thumbnail
    @extend %absolute
    transition: opacity .5s ease
    object-fit: cover
    opacity: 1
    pointer-events: auto

    &--hidden
      opacity: 0
      pointer-events: none
  
  &__video
    @extend %absolute
    transition: opacity .5s ease
    opacity: 0
    pointer-events: none

    &--active
      opacity: 1
      pointer-events: auto

  &__play-btn
    @extend %centered
    @include hover-supported
      .buy-welcome__icon
        opacity: .7
    opacity: 1
    z-index: 3
    cursor: pointer
    pointer-events: auto

    &--hidden
      opacity: 0
      pointer-events: none

  &__icon
    transition: opacity .2s ease
    width: 3rem
    height: 3rem
    fill: $c1
  
/* -----------------------
    Buy Welcome Styles
   ----------------------- */ 

.buy-testimonial-video
  @extend %section-padding

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include tablet-md
      padding: 0 2rem
      max-width: 100%
    @include phone-lg
      padding: 0 1rem
    max-width: $width
  
  &__column
    @include col(10)
    @include col--offset(1)
    padding: 0
  
  &__video-container
    @include laptop
      height: calc(75vw * .5625)
    @include phone-lg
      height: 50vw
    position: relative
    width: 100%
    height: calc(60vw * .5625)

  &__thumbnail
    @extend %absolute
    transition: opacity .5s ease
    object-fit: cover
    opacity: 1
    pointer-events: auto

    &--hidden
      opacity: 0
      pointer-events: none
  
  &__video
    @extend %absolute
    transition: opacity .5s ease
    opacity: 0
    pointer-events: none

    &--active
      opacity: 1
      pointer-events: auto

  &__play-btn
    @extend %centered
    @include hover-supported
      .buy-testimonial-video__icon
        opacity: .7
    opacity: 1
    z-index: 3
    cursor: pointer
    pointer-events: auto

    &--hidden
      opacity: 0
      pointer-events: none

  &__icon
    transition: opacity .2s ease
    width: 3rem
    height: 3rem
    fill: $c1

/* --------------------------
    Buy Neighborhood Styles
   -------------------------- */

.buy-neighborhood
  @extend %section-padding

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include tablet-md
      padding: 0 2rem
      max-width: 100%
    @include phone-lg
      padding: 0 1rem
    max-width: $width

  &__tooltip
    position: absolute
    top: 0
    left: 0
    transition: transform .5s ease
    opacity: 0
    z-index: 5
    border: 1px solid $black
    background: $white
    padding: 1rem 1.5rem 1rem 1rem
    width: rem-calc(180)
    pointer-events: none

    &-close
      position: absolute
      top: .5rem
      right: .5rem
      cursor: pointer
      width: rem-calc(14)
      height: rem-calc(14)

      @include hover-supported
        &::before,
        &::after
          opacity: .5

      &::before,
      &::after
        @extend %centered
        transform: translate(-50%, -50%) rotate(45deg)
        transition: opacity .2s ease
        background: $c1
        cursor: pointer
        width: 100%
        height: 2px
        content: ''
      
      &::after
        transform: translate(-50%, -50%) rotate(-45deg)

    &-content
      font-size: rem-calc(16)

    &-title
      margin-bottom: .5rem
      font-weight: 700
      text-transform: uppercase

    &-info
      margin-bottom: .5rem
    
    &-link
      @extend %button-text
      @include tablet-md
        margin: 0 .5rem
      display: inline-block
      position: relative
      transition: opacity .2s ease
      text-transform: lowercase
      color: $c3
      font-weight: 500

      @include hover-supported
        opacity: .7
      
        &:after
          opacity: .7

      &:after
        position: absolute
        bottom: -.25rem
        left: 0
        transition: opacity .2s ease
        background: $c3
        width: 100%
        height: rem-calc(2)
        content: ''

  &__background
    @extend %absolute
    background: $c4
    z-index: -1
    height: 35%

  &__title
    @extend %section-padding-large
    width: 100%
    text-align: center
    color: $white
  
  &__map-container
    @include col(10)
    @include col--offset(1)
    background: $c2

  .map-neighborhoods__icon-neighborhood
    transition: opacity .5s ease

    &--deactive
      opacity: .5

    &--matched
      @include hover-supported
        opacity: .5
      cursor: pointer


/* --------------------------
    Buy - Rent vs Buy Styles
   -------------------------- */

.buy-rent-vs-buy
  @extend %section-padding-bottom

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include tablet-md
      padding: 0 2rem
      max-width: 100%
    @include phone-lg
      padding: 0 1rem
    max-width: $width
  
  &__column
    @include col(10)
    @include col--offset(1)
    padding: 0
  
  &__title
    margin-bottom: 1rem
    text-align: center

  &__text
    @extend %title-margin
    @extend %wysiwyg-styles

  &__mortgage-calculator
    width: 100%

  &__caption
    @extend %wysiwyg-styles
    font-size: rem-calc(14)

/* ------------------------------
    Buy Time To Talk CTA Styles
   ------------------------------ */

.buy-schedule-talk
  @extend %section-padding