@import '../local/index.sass'
@import '../templates/home-hero.sass'
@import '../templates/form-get-in-touch.sass'
@import '../templates/card-links.sass'
@import '../templates/cta-text-btn.sass'

/* -----------------------
    Home Page Styles
   ----------------------- */

.page-home
  position: relative

  &__loader
    position: fixed
    top: 0
    left: 0
    transition: opacity .3s ease-in
    z-index: 99999
    background: $white
    width: 100%
    height: 100vh

    &--loaded
      opacity: 0
      pointer-events: none

/* -----------------------------
    Home Welcome Section Styles
   ----------------------------- */

.home-welcome
  @extend %section-padding-top
  @include max-width (1250px)
    margin-top: 0
  @include tablet-md
    background: $c1
  position: relative
  margin-top: 5rem

  &__color-box
    @extend %absolute
    @include desktop
      max-width: calc(#{$max-width} + #{$gutter})
    @include max-width (1250px)
      display: none
    left: 50%
    transform: translateX(-50%)
    z-index: -1
    background: $c2
    max-width: calc(#{$width} + #{$outside-gutter})
    height: 80%

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include max-width (1250px)
      max-width: calc(100vw - 3rem)
    @include tablet-md
      flex-direction: column-reverse
      padding: 0 2rem
      max-width: 100%
    @include phone-lg
      padding: 0 1rem
    background: $c1
    padding: 0
    max-width: $width

  &__content
    @include col (4)
    @include col--offset (1)
    @include desktop
      padding: 7rem 0
    @include laptop
      margin-left: 0
      padding-left: 2rem
      width: calc((5/12) * 100%)
    @include tablet-md
      padding: 3rem 0
      width: 100%
    padding: 5rem 0

  &__image-col
    @include col (7)
    @include tablet-md
      padding: 0
      width: 100%
      height: 60vw
    padding-right: 0

  &__image-container
    position: relative
    width: 100%
    height: 100%

  &__thumbnail
    @extend %absolute
    object-fit: cover

  &__title
    @include tablet-md
      display: none
    margin-bottom: rem-calc(20)
    color: $white

    &--mobile
      @include tablet-md
        display: block
      @include phone-lg
        padding: 0 1rem
      display: none
      padding: 0 2rem

  &__text
    color: $white

    p
      &:not(:last-child)
        margin-bottom: 1rem

  &__play-btn
    @extend %centered
    @include hover-supported
      .home-welcome__icon
        opacity: .7
    z-index: 3
    cursor: pointer

  &__icon
    transition: opacity .2s ease
    width: 3rem
    height: 3rem
    fill: $c1

  &__button
    @extend %button-text
    @include hover-supported
      background: $c6
      color: $white
    display: inline-block
    position: relative
    transition: background .2s ease, color .2s ease
    margin-top: 2rem
    background: $c2
    cursor: pointer
    padding: rem-calc(14) 2rem rem-calc(12)
    text-transform: lowercase

  &__video-modal
    position: fixed
    top: 0
    left: 0
    transition: opacity .3s ease
    opacity: 0
    z-index: 9999
    width: 100%
    height: 100%
    pointer-events: none

    &--open
      opacity: 1
      pointer-events: all

  &__modal-overlay
    @extend %absolute
    background: rgba($black, .6)

  &__modal-container
    @extend %centered
    @include tablet
      width: 95vw
      height: calc(95vw * .5625)
    width: 70vw
    height: calc(70vw * .5625)

  &__video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    overflow: hidden

    @supports (object-fit: cover)
      height: 100%
      object-fit: cover

  &__close-btn
    @include hover-supported
      color: $c4
    position: absolute
    top: -.5rem
    right: 1rem
    transition: color .2s ease
    z-index: 2
    cursor: pointer
    width: 2rem
    height: 2rem
    color: $white

/* -----------------------------
    Home Welcome Section Styles
   ----------------------------- */

.home-committed
  @extend %section-padding-bottom
  @include tablet-md
    padding: 4rem 0
  @include nexus
    padding: 2rem 0
  position: relative

  &__container
    @include container
    padding: 0
    justify-content: center
  
  &__column
    @include col(6)
    text-align: center

  &__title
    margin-bottom: 1rem

/* -----------------------------
    Home Stats Section Styles
   ----------------------------- */

.home-stats

  &__container
    @include container
  
  &__title
    margin: auto
    text-align: center

  &__cards
    @include col(10)
    @include col--offset(1)
    @include tablet-lg
      justify-content: space-between
    display: flex
    flex-wrap: wrap
  
  &__card
    @include col(4)
    @include tablet-lg
      width: calc(50% - 1rem)
    @include tablet
      margin-top: 2rem
      padding-top: rem-calc(89)
    @include nexus
      margin-top: 2rem
      padding-top: rem-calc(55)
    margin-top: 3rem
    padding-top: rem-calc(89)

    &-container
      @include nexus
        height: rem-calc(150)
      position: relative
      display: flex
      align-items: flex-end
      justify-content: center
      position: relative
      background: $black
      padding: rem-calc(27)
      height: rem-calc(200)
    
    &-circle
      @include nexus
        border: 2px solid $black
        width: rem-calc(110)
        height: rem-calc(110)
      position: absolute
      display: flex
      top: 0
      left: 50%
      align-items: center
      justify-content: center
      background: $white
      border: 4px solid $black
      border-radius: 50%
      transform: translate3d(-50%, -50%, 0)
      padding: 12.5%
      width: rem-calc(178)
      height: rem-calc(178)
      text-align: center

    &-title
      @extend %h2
      @include nexus
        font-size: rem-calc(16)
      line-height: 1.25
      font-weight: 700
      text-transform: uppercase

    &-text
      @include nexus
        font-size: rem-calc(14)
      color: $white
      font-weight: 700
      text-align: center

/* ---------------------------------
    Ready to sell or buy CTA Styles
   --------------------------------- */

.home-ready-buy-sell-cta
  @extend %section-padding-top

/* ------------------------------
    Home Handle Listing Styles
   ------------------------------ */

.home-handle-listing
  @extend %section-padding

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$gutter * 2})
    @include tablet
      padding: 3rem 0
    justify-content: center
    padding: 4rem 0
    max-width: #{$width}
    background: $c1

  &__text
    @include col(6)
    color: $white
    text-align: center
  

/* ----------------------------
    Home Real Estate Styles
   ---------------------------- */

.home-real-estate
  @include desktop
    padding: 2.5rem 0 0
  @include nexus
    padding: -1.5rem 0 0
  padding: 1.5rem 0 0

/* ---------------------------------
    Ready to sell or buy CTA Styles
   --------------------------------- */

.home-educate-realestate-cta
  @extend %section-padding-bottom
  @include desktop
    padding-top: 0
  @include nexus
    padding-top: 0 
  padding-top: 0 