@import '../local/index.sass'
@import '../templates/home-hero.sass'
@import '../templates/our-performance.sass'
@import '../templates/process-steps.sass'
@import '../templates/compass-program.sass'
@import '../templates/resources-links.sass'
@import '../templates/slider-before-after.sass'
@import '../templates/slider-case-studies.sass'
@import '../templates/slider-video.sass'

/* -----------------------
    Sell Page Styles
   ----------------------- */

/* ----------------------
    Sell Welcome Styles
   ---------------------- */

.sell-welcome
  @extend %section-padding-top

  &__container
    @include container

  &__column
    @include col(8)
    @include col--offset(2)

  &__title
    @include nexus
      padding-bottom: 1rem
    padding-bottom: 2rem
    width: 100%
    text-align: center

/* ---------------------
    Sell Video Styles
   --------------------- */

.sell-video
  @extend %section-padding

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include tablet-md
      padding: 0 2rem
      max-width: 100%
    @include phone-lg
      padding: 0 1rem
    max-width: $width

  &__column
    @include col(10)
    @include col--offset(1)
    padding: 0

  &__video-container
    @include laptop
      height: calc(75vw * .5625)
    @include phone-lg
      height: 50vw
    position: relative
    width: 100%
    height: calc(60vw * .5625)
    cursor: pointer

    @include hover-supported
      .sell-video__icon
        opacity: .7

  &__thumbnail
    @extend %absolute
    transition: opacity .5s ease
    object-fit: cover
    opacity: 1
    pointer-events: auto

    &--hidden
      opacity: 0
      pointer-events: none

  &__video
    @extend %absolute
    transition: opacity .5s ease
    opacity: 0
    pointer-events: none

    &--active
      opacity: 1
      pointer-events: auto

  &__play-btn
    @extend %centered
    opacity: 1
    z-index: 3
    cursor: pointer
    pointer-events: auto

    &--hidden
      opacity: 0
      pointer-events: none

  &__icon
    transition: opacity .2s ease
    width: 3.75rem
    height: 3.75rem

  &__content
    @include col(8)
    @include col--offset(2)
    text-align: center

  &__text
    @include desktop
      padding-top: 2.5rem
    @include nexus
      padding-top: 1rem
    padding-top: 2rem

  &__link
    @extend %button-text
    @include button-solid($c3, $white, $c6)
    margin-top: 1rem

/* ----------------------
    Sell Prices Styles
   ---------------------- */

.sell-prices
  @extend %section-padding

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$gutter * 2})
    max-width: #{$width}

  &__column
    @include col(10)
    @include col--offset(1)
    @include desktop
      padding: 5rem 0
    @include tablet
      padding: 4rem 0
    @include nexus
      padding: 2rem 0
    display: flex
    position: relative
    flex-wrap: wrap
    align-items: center
    justify-content: center
    border: 2px solid $c1
    padding: 4rem 0

  &__background
    @extend %absolute
    z-index: -1
    object-fit: cover

  &__content
    @include tablet-md
      margin-bottom: 2rem
      width: 100%
      padding: 0 2rem
    @include nexus
      padding: 0 1rem
    padding: 0 calc(#{$gutter} / 2)
    width: 40%

  &__title
    @extend %h3
    @include tablet-md
      text-align: center
    margin-bottom: 1rem

  &__text
    margin-bottom: 1rem

  &__links
    @include tablet-md
      justify-content: center
    display: flex

  &__btn
    @extend %button-text
    @include tablet-md
      margin: 0 .5rem
    display: inline-block
    position: relative
    transition: color .2s ease, text-stroke .2s ease
    text-transform: lowercase
    color: $c3
    font-weight: 500

    @include hover-supported
      color: $c6
      -webkit-text-stroke: rem-calc(.5)

      &:after
        transform: scaleY(1.2)

    &:after
      position: absolute
      bottom: -.25rem
      left: 0
      transition: transform .2s ease
      background: $c3
      width: 100%
      height: rem-calc(2)
      content: ''

    &:not(:first-of-type)
      margin-left: 1rem

  &__image
    @include tablet-md
      padding: 0 2rem
      width: 75%
    @include nexus
      padding: 0 1rem
      width: 100%
    padding: 0 calc(#{$gutter} / 2)
    width: 40%
    height: auto

/* --------------------------
    Sell Commission Styles
   -------------------------- */

.sell-commission
  @extend %section-padding

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$gutter * 2})
    max-width: #{$width}

  &__column
    @include col(10)
    @include col--offset(1)
    @include desktop
      padding: 5rem 0
    @include tablet
      padding: 4rem 0
    @include nexus
      padding: 2rem 0
    display: flex
    position: relative
    flex-wrap: wrap
    align-items: center
    justify-content: center
    background: $c2
    padding: 4rem 0

  &__title
    @extend %h3
    margin-bottom: 1rem

  &__text
    @include tablet-md
      padding: 0 2rem
      width: 100%
    @include nexus
      padding: 0 1rem
    margin-bottom: rem-calc(24)
    padding: 0 calc(#{$gutter} / 2)
    width: calc(100% * (4 / 5))

  &__images
    @include tablet-md
      flex-direction: column
      align-items: center
    display: flex
    flex-wrap: wrap
    width: calc(100% * (4 / 5))

  &__image
    @include tablet-md
      padding: 0 1rem
      width: 75%
      height: 75%
    @include nexus
      width: 100%
      height: 100%
    padding: 0 calc(#{$gutter} / 2)
    width: 50%
    height: 50%

    &:not(:first-of-type)
      @include tablet-md
        padding-top: 1rem

