@import '../local/index.sass'
@import '../templates/form-get-in-touch.sass'

/* -----------------------
    Careers Posts Styles
  ----------------------- */

/* -----------------------
    Careers Content Styles
  ----------------------- */

.single-careers

  &__content
    @extend %section-padding-large

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include tablet-md
      padding: 0 2rem
      max-width: 100%
    @include phone-lg
      padding: 0 1rem
    justify-content: center
    padding: 0
    max-width: $width

  &__column
    @include col(10)

  &__title
    @extend %title-margin
    text-align: center

  &__text
    @extend %wysiwyg-styles