@import '../local/index.sass'
@import '../templates/listings-hero.sass'

/* -------------------------
    Single Listings Styles
   ------------------------- */

.listings-single
  position: relative

  &__container
    @include container

  &__title-container
    @extend %section-padding-top
    text-align: center
    width: 100%
  
  &__title
    @extend %h2
    width: 100%
    font-weight: 700
    text-align: center
    text-transform: capitalize

    &-text
      @include nexus
        display: block
        margin-bottom: rem-calc(8)

      &::after
        @include nexus
          display: none
        display: inline-block
        margin: 0 rem-calc(3)
        content: '|'

  &__subtitle
    padding-top: 1rem

  &__main-column
    @include col(8)
    @include col--offset(2)

  //  -------------------------
  //    Virtual Tour Styles
  //  -------------------------

.listings-single

  &__tour-title
    @extend %section-padding
    text-align: center
    width: 100%

  &__tour
    position: relative
    margin: 0

    &-thumbnail
      width: 100%
      height: auto

    &-video
      width: 100%
      height: auto
    
  &__play-btn
    @extend %centered
    @include hover-supported
      opacity: .7
    transition: opacity .2s ease
    z-index: 3
    cursor: pointer
    width: 3rem
    height: 3rem

  &__modal-tour
    position: fixed
    top: 0
    left: 0
    transition: opacity .3s ease
    opacity: 0
    z-index: 9999
    width: 100%
    height: 100%
    pointer-events: none

    &--open
      opacity: 1
      pointer-events: all

  &__modal-overlay
    @extend %absolute
    background: rgba($black, .6)
    cursor: pointer

  &__modal-container
    @extend %centered
    @include tablet
      width: 90vw
      height: calc(95vw * .5625)
    background: $white
    width: 70vw
    height: calc(70vw * .5625)

  &__modal-video
    @extend %absolute
    padding: 1rem
    overflow: hidden

    @supports (object-fit: cover)
      height: 100%
      object-fit: cover

  &__modal-close
    position: absolute
    top: .25rem
    right: .25rem
    z-index: 2
    cursor: pointer
    width: 1rem
    height: 1rem

    span
      display: block
      position: absolute
      top: 50%
      left: 50%
      transition: background .2s ease
      background: $c1
      width: 100%
      height: 3px

      &:first-child
        transform: translateX(-50%) rotate(45deg)
      &:last-child
        transform: translateX(-50%) rotate(-45deg)

    @include hover-supported
      span
        background: lighten($c1, 25%)

  //  -------------------------
  //     Intro Text Styles
  //  -------------------------

  &__intro-text
    @extend %section-padding-bottom

    p:not(:last-of-type)
      margin-bottom: 1rem

  //  -------------------------
  //    About The Home Styles
  //  -------------------------

  &__about-home
    @include col(10)
    @include col--offset(1)
    background: $c2
  
    &-container
      @extend %section-padding-top
      text-align: center

    &-title
      @include nexus
        margin-bottom: 1rem
    
    &-icons
      display: flex
      flex-wrap: wrap
      justify-content: center

    &-column
      @extend %section-padding
      @include tablet-lg
        padding: 1rem 0
        width: 33.33%
      @include nexus
        padding: .5rem 0
        width: 75%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      width: 20%
    
    &-icon
      @include tablet-lg
        margin-bottom: 0
        width: 35% 
      @include nexus
        width: 25%
      margin-bottom: rem-calc(24)
    
    &-icon-number
      @extend %h2
      font-weight: 700

    &-icon-text
      @extend %h4
      text-transform: uppercase
      
  //  -------------------------
  //      Features Styles
  //  -------------------------

  &__features

    &-container
      @extend %section-padding-bottom
    
    &-title
      @extend %section-padding
      text-align: center

    &-list-container
      position: relative

    &-list
      transition: height .5s ease
      height: rem-calc(425)
      overflow: hidden
    
    &-overlay
      position: absolute
      bottom: 0
      left: 0
      transition: opacity .5s ease
      background: linear-gradient(rgba($white, 0), $white 100%)
      width: 100%
      height: 5rem

    &-see-more
      margin-top: 2rem
      text-align: center

    &-see-more-btn
      position: relative
      transition: color .2s ease
      padding-bottom: 4px
      cursor: pointer
      color: $c3

      &::after
        position: absolute
        bottom: 0
        left: 0
        transition: background .2s ease,
        background: $c3
        width: 100%
        height: 2px
        content: ''

      @include hover-supported
        color: $c6
        font-weight: 600

        &::after
          background: $c6