@import '../local/index.sass'

/* -----------------------
    Blog Posts Styles
   ----------------------- */

.post-blog

  &__container
    @include container
  
  &__content
    @extend %section-padding-top
  
    p
      margin: 1rem 0
      
    img
      width: 100%
      height: auto