@import '../local/index.sass'
@import '../templates/listings-hero.sass'
@import '../templates/listings-neighborhood.sass'
@import '../templates/form-get-in-touch.sass'
@import '../templates/listings-covid-rules.sass'
@import '../templates/card-links.sass'

/* -------------------------
    Single Listings Styles
   ------------------------- */

.listings-single
  position: relative

  &__tag
    position: relative
    width: 100%

  &__category
    position: absolute
    right: 0
    bottom: 100%
    display: inline-block
    background: $c3
    border: 2px solid $white
    border-bottom: none
    padding: 1rem
    color: $white
    // text-transform: lowercase

  &__container
    @include container

  &__title-container
    @extend %section-padding-top
    text-align: center
    width: 100%
  
  &__title
    @extend %h2
    width: 100%
    font-weight: 700
    text-align: center
    text-transform: capitalize

    &-text
      @include nexus
        display: block
        margin-bottom: rem-calc(8)


    &-price  
      &::before
        @include nexus
          display: none
        display: inline-block
        margin: 0 rem-calc(3)
        content: '|'

  &__subtitle
    padding-top: 1rem

  &__main-column
    @include col(8)
    @include col--offset(2)

  //  -------------------------
  //    Virtual Tour Styles
  //  -------------------------

.listings-single

  &__tour-title
    @extend %section-padding
    text-align: center
    width: 100%

  &__tour
    position: relative
    margin: 0
    padding-top: 56.25%
    width: 100%

    &-video
      @extend %absolute
      object-fit: cover

  //  -------------------------
  //     Intro Text Styles
  //  -------------------------

  &__intro-text
    @extend %section-padding-bottom

    p:not(:last-of-type)
      margin-bottom: 1rem

  //  -------------------------
  //    About The Home Styles
  //  -------------------------

  &__about-home
    @include col(10)
    @include col--offset(1)
    background: $c2
  
    &-container
      @extend %section-padding-top
      text-align: center

    &-title
      @include nexus
        margin-bottom: 1rem
    
    &-icons
      display: flex
      flex-wrap: wrap
      justify-content: center

    &-column
      @extend %section-padding
      @include tablet-lg
        padding: 1rem 0
        width: 33.33%
      @include nexus
        padding: .5rem 0
        width: 75%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      width: 20%
    
    &-icon
      @include tablet-lg
        margin-bottom: 0
        width: 35% 
      @include nexus
        width: 25%
      margin-bottom: rem-calc(24)
    
    &-icon-number
      @extend %h2
      font-weight: 700

    &-icon-text
      @extend %h4
      text-transform: uppercase
      
  //  -------------------------
  //      Features Styles
  //  -------------------------

  &__features

    &-container
      @extend %section-padding-bottom
    
    &-title
      @extend %section-padding
      text-align: center

    &-list-container
      position: relative

    &-list
      transition: height .5s ease
      height: rem-calc(425)
      overflow: hidden

      ul
        margin: 0 0 1rem 0
      
      p:not(:last-of-type)
        margin-bottom: 1rem
    
    &-overlay
      position: absolute
      bottom: 0
      left: 0
      transition: opacity .5s ease
      background: linear-gradient(rgba($white, 0), $white 100%)
      width: 100%
      height: 5rem

    &-see-more
      margin-top: 2rem
      text-align: center

    &-see-more-btn
      position: relative
      transition: color .2s ease
      padding-bottom: 4px
      cursor: pointer
      color: $c3

      &::after
        position: absolute
        bottom: 0
        left: 0
        transition: background .2s ease,
        background: $c3
        width: 100%
        height: 2px
        content: ''

      @include hover-supported
        color: $c6
        font-weight: 600

        &::after
          background: $c6

  //  -----------------------------------
  //    The Home: Photo Gallery Styles
  //  -----------------------------------

  &__photo-gallery
    width: 100%

  //  -----------------------------------
  //    About the Neighborhood Styles
  //  -----------------------------------

  &__about-neighborhood
    @extend %section-padding

    &-title
      text-align: center

    &-description
      @extend %section-padding

      p:not(:last-of-type)
        margin-bottom: 1rem
  
  //  -----------------------
  //    Floor Plan Styles
  //  -----------------------

  &__plan

    &-container
      @extend %section-padding-top

    &-image
      width: 100%
      height: auto
    
    &-text
      @include desktop
        padding-top: 2.5rem
      @include nexus
        padding-top: 1rem
      margin: auto
      padding-top: 2rem
      width: 80%
      text-align: center
      word-break: break-word

      p:not(:last-of-type)
        margin-bottom: 1rem
      
      a
        @include hover-supported
          opacity: .7
        transition: opacity .2s ease
        text-decoration: underline

  //  ----------------------------
  //    Exclusive Access Styles
  //  ----------------------------

  &__access
    @extend %section-margins

    &-container
      @include container
      color: $white

    &-column
      @include col(12)
    
    &-content
      @extend %section-padding-large
      @include tablet-lg
        padding-right: 2rem
        padding-left: 2rem
      @include phone-lg
        padding-right: 1rem
        padding-left: 1rem
      display: flex
      flex-direction: column
      align-items: center
      background: $c1
      text-align: center

    &-title
      width: 100%

    &-text
      @include col(6)
      @extend %section-margins
      @include tablet-lg
        width: 100%

    &-form
      @include col(4)
      @include tablet-lg
        width: 75%
      @include tablet
        width: 100%
      // display: flex
      // flex-wrap: wrap
      // justify-content: space-between

    &-form-group
      position: relative
      margin-bottom: 2rem
      width: 100%

    &-label
      @extend %absolute
      display: none
      top: rem-calc(4)
      left: rem-calc(4)
    
    &-input
      background: $c1
      border-radius: 0
      border-bottom: 2px solid $white
      padding: rem-calc(12) 0
      width: 100%
      color: $white
      -webkit-appearance: none

      &:focus-visible
        outline: none

      &::placeholder
        color: $white
        opacity: 1

    &-submit
      @extend %button-text
      @include button-solid($c3, $white, $c6)
      border-radius: 0
      font-weight: 500
      -webkit-appearance: none
    
  //  ----------------------------
  //    Card Links Styles
  //  ----------------------------
  
  &__card-links
    @include desktop
      padding-top: 2.5rem
    @include nexus
      padding-top: 1rem
    padding-top: 2rem