@import '../local/index.sass'
@import '../templates/cta-text-btn.sass'

/* ------------------------------
    Single Neighborhoods Styles
   ------------------------------ */

/* --------------------------------------
    Single Neighborhoods Content Styles
   -------------------------------------- */

.single-neighborhoods-content
  @extend %section-padding-top

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include tablet-md
      padding: 0 2rem
      max-width: 100%
    @include phone-lg
      padding: 0 1rem
    max-width: $width

  &__column
    @include col(8)
    @include col--offset(2)
    @include tablet-lg
      padding: 0 2rem
      margin: 0
      width: 100%
    @include tablet
      padding: 0
    padding: 0

  &__title
    @extend %h3
    margin-bottom: 1rem
    text-align: center

  &__icons
    @include tablet
      flex-direction: column
      align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: center

  &__icon-container
    @include desktop
      max-width: rem-calc(150)
    flex: 1
    margin: 2rem 2rem 0
    max-width: rem-calc(120)
    text-align: center

  &__icon
    margin-bottom: .5rem

  &__icon-text
    @extend %h4
    text-transform: uppercase

/* -----------------------
    Talks Intro Styles
   ----------------------- */

.single-neighborhoods-video
  @extend %section-padding

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$gutter * 2})
    max-width: #{$width}

  &__column
    @include col(8)
    @include col--offset(2)
    display: flex
    position: relative
    flex-wrap: wrap
    align-items: center
    justify-content: center

  &__title
    @extend %title-margin
    text-align: center

  &__video-container
    @include laptop
      height: calc(60vw * .5625)
    @include tablet
      height: 50vw
    position: relative
    width: 100%
    height: calc(50vw * .5625)
    cursor: pointer

    @include hover-supported
      .single-neighborhoods-video__icon
        opacity: .7

  &__thumbnail
    @extend %absolute
    transition: opacity .5s ease
    object-fit: cover
    opacity: 1
    pointer-events: auto

    &--hidden
      opacity: 0
      pointer-events: none

  &__video
    @extend %absolute
    transition: opacity .5s ease
    opacity: 0
    pointer-events: none

    &--active
      opacity: 1
      pointer-events: auto

  &__play-btn
    @extend %centered
    opacity: 1
    z-index: 3
    cursor: pointer
    pointer-events: auto

    &--hidden
      opacity: 0
      pointer-events: none

  &__icon
    transition: opacity .2s ease
    width: 3.75rem
    height: 3.75rem
    border-radius: 50%
    fill: $white
    box-shadow: 1px 2px 3px rgba($black, .5)

  &__text
    @extend %wysiwyg-styles
    @include desktop
      margin-top: 2.5rem
    margin-top: 2rem

/* -----------------------
    Single Neighborhood Cart Styles
   ----------------------- */
.single-neighborhoods-cart
  @extend %section-padding

  &__container
    @include container--color
    @include desktop
      padding: 5rem 0 3rem
    @include tablet
      padding: 3rem 0 2rem
    background: $c2
    padding: 4rem 0 2rem

  &__info
    display: flex
    flex-direction:column
    flex:1

  &__title
    @include col (4)
    @extend %title-margin
    margin-top: auto

  &__details
    @include col (6)
    @extend %title-margin
    margin-top: auto

    p
      font-weight: 300
      font-size: 0.95rem

  &__key
    @include col (2)
    @extend %title-margin
    margin-top: auto

    p
      font-size: 0.75rem

  &__graph
    @include col (10)
    @include col--offset (1)
    position: relative


  &__graph-container
    padding-bottom: 2rem

  &__button
    @include hover-supported
      background: $c6
      color: $white
      border: none
    display: inline-block
    position: relative
    background: $white
    color: $c6
    border-style: solid
    border-color: $c3
    transition: background .2s ease, color .2s ease

    cursor: pointer
    padding: rem-calc(14) 1rem rem-calc(12)

    &:active, &:focus
      border: none
      color: $white
      background: $c3

  &__button-container
    @include container--color
    @include desktop
      padding: 5rem 0 3rem
    @include tablet
      padding: 3rem 0 2rem
    padding: 4rem 0 2rem
    display: flex
    justify-content: space-between

/* ------------------------------
    Single Neighborhoods CTA Styles
   ------------------------------ */

.single-neighborhoods-cta
  @extend %section-padding-bottom

hr
  border: none
  height: 1px
  color: #333
  background-color: #333

.key-pairs
  display: flex

  svg
    margin: auto 1px
