@import '../local/index.sass'
@import '../templates/cta-text-btn.sass'

/* ------------------------------
    Single Neighborhoods Styles
   ------------------------------ */

/* --------------------------------------
    Single Neighborhoods Content Styles
   -------------------------------------- */

.single-neighborhoods-content
  @extend %section-padding-top

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include tablet-md
      padding: 0 2rem
      max-width: 100%
    @include phone-lg
      padding: 0 1rem
    max-width: $width
  
  &__column
    @include col(8)
    @include col--offset(2)
    @include tablet-lg
      padding: 0 2rem
      margin: 0
      width: 100%
    @include tablet
      padding: 0
    padding: 0
  
  &__title
    @extend %h3
    margin-bottom: 1rem
    text-align: center

  &__icons
    @include tablet
      flex-direction: column
      align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: center

  &__icon-container
    @include desktop
      max-width: rem-calc(150)
    flex: 1
    margin: 2rem 2rem 0
    max-width: rem-calc(120)
    text-align: center

  &__icon
    margin-bottom: .5rem
  
  &__icon-text
    @extend %h4
    text-transform: uppercase    
    
/* ------------------------------
    Single Neighborhoods CTA Styles
   ------------------------------ */

.single-neighborhoods-cta
  @extend %section-padding-bottom