@import '../local/index.sass'

/* -----------------------
    Blog Posts Styles
   ----------------------- */

.post-blog

  &__container
    @include container

  &__column
    @include col(8)
    @include col--offset(2)
  
  &__content
    @extend %section-padding-top
  
    p, h1, h2, h3, h4, h5, h6
      margin: 1rem 0

    a
      @include hover-supported
        color: $c4
      transition: color .185s ease
      color: $c3
      
    img
      width: 100%
      height: auto

  &__infobar
    @extend %section-padding
    display: flex
    justify-content: space-between
    background: $c2
    padding-right: rem-calc(48.5)
    padding-left: rem-calc(48.5)
    width: 100%

  &__navigation
    @extend %section-padding-bottom
    display: flex
    justify-content: space-between

    &--justify-end
      justify-content: flex-end

    &-prev
      @extend %button-text
      @include col(2)
      @include button($c3, $c3)
      padding: rem-calc(14) 2rem rem-calc(12)
    
    &-next
      @extend %button-text
      @include col(2)
      @include button-solid($c3, $white, $white)
      text-align: center