/* -----------------------
    Blog Main Styles
   ----------------------- */

.page-blog-main

  &__intro-container
    @include container
  
  &__intro
    @include col(8)
    @include col--offset(2)

    &-title
      width: 100%
      text-align: center
    
  &__posts
    background: $c2
    
