/* -----------------------
    Blog Main Styles
   ----------------------- */

.page-blog-main

  &__intro-container
    @include container
  
  &__intro
    @include col(8)
    @include col--offset(2)

    &-title
      width: 100%
      text-align: center
    
  &__posts
    @extend %section-padding
    background: $c2
  
  &__posts-container
    @include container
  
  &__post
    @include col(4)

    &-container
      background: $white

    &-image
      position: relative
      width: 100%
      padding-top: 80%
    
    &-background
      @extend %absolute
      object-fit: cover

    
