/* -------------------------------------------
    Neighborhoods Map Template Styles
   ------------------------------------------- */

.map-neighborhoods

  &__container
    @include container

  &__column
    @include col(8)
    @include col--offset(2)

  &__tooltip
    position: absolute
    top: 0
    left: 0
    transition: transform .5s ease
    opacity: 0
    z-index: 5
    border: 1px solid $black
    background: $white
    padding: .5rem
    width: rem-calc(150)
    pointer-events: none

    &-close
      position: absolute
      top: .5rem
      right: 1rem
      cursor: pointer

    &-content
      font-size: rem-calc(16)

    &-title
      margin-bottom: .5rem
      font-weight: 700

    &-info
      &:not(:last-of-type)
        margin-bottom: .5rem

  &__icon
    @extend %section-padding-bottom
    width: 100%

    &-neighborhood
      @include hover-supported
        .bfa9d4ac-6583-4cd9-ad32-16abf80279d0
          fill: $c6
      cursor: pointer
      .bfa9d4ac-6583-4cd9-ad32-16abf80279d0
        transition: fill .2s ease

      &--active
        .bfa9d4ac-6583-4cd9-ad32-16abf80279d0
          fill: $c6
