/* -------------------------------------------
    Neighborhoods Map Template Styles
   ------------------------------------------- */

.map-neighborhoods

  &__container
    @include container


  &__column
    width: 100%
  //   @include col(8)
  //   @include col--offset(2)
  
  &__tooltip
    position: absolute
    top: 0
    left: 0
    opacity: 0
    z-index: 5
    transition: transform .5s ease
    background: $white
    border: 1px solid $black
    padding: .5rem
    width: rem-calc(250)

    &-close
      position: absolute
      top: .5rem
      right: 1rem
    
    &-content
      font-size: rem-calc(16)

    &-title
      margin-bottom: .5rem
      font-weight: 700

    &-info
      &:not(:last-of-type)
        margin-bottom: .5rem

  &__icon
    @extend %section-padding-bottom
    width: 100%

    &-neighborhood
      cursor: pointer