/* -------------------------
    Resources Links Styles
   ------------------------- */

.resources-links
  @extend %section-padding

  &__container
    @include container
    @include desktop
      max-width: calc(#{$max-width} - #{$outside-gutter})
    @include max-width(1210px)
      width: calc(100% - 4rem)
    @include tablet-md
      max-width: calc(100% - 4rem)
    @include phone-lg
      width: calc(100% - 2rem)
      max-width: calc(100% - 2rem)
    justify-content: center
    border: 2px solid $c1
    padding: 0
    max-width: $width

  &__background
    @extend %absolute
    z-index: -1
    object-fit: cover

  &__title
    @extend %section-margins-top
    margin-bottom: 1rem
    width: 100%
    text-align: center

  &__links
    @extend %section-margins-bottom
    @include col(10)
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 0

  &__link-container
    @include hover-supported
      opacity: .5
    @include tablet-md
      width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    transition: opacity .2s ease
    background: $white
    border: 1px solid $c1
    margin-top: 1rem
    width: calc(50% - (#{$gutter} / 2))

  &__link-text
    @extend %h4
    padding: 1rem
    max-width: calc(100% - 64px)
    text-transform: uppercase

  &__icon-container
    display: flex
    align-items: center
    justify-content: center
    background: $c2
    width: rem-calc(64)
    height: 100%

  &__icon
    width: 1rem
    height: 1rem