/* -----------------------
   Hero Template Styles
   ----------------------- */

.hero-template
  position: relative
  height: 85vh
  min-height: rem-calc(580)
  overflow: hidden

  &__wrapper
    position: absolute
    top: 0
    left: 0
    margin: 0
    width: 100%
    height: 100%
    will-change: transform

  &__background
    @extend %absolute
    object-fit: cover
    object-position: center

  &__overlay
    @extend %absolute
    z-index: 1
    background: linear-gradient(to bottom, rgba($black, .55), rgba($black, .3) 80%)

  &__container
    @include container
    align-items: center
    justify-content: center
    z-index: 3
    height: 100%

  &__content
    @include col (12)
    text-align: center
    color: $white

  &__title
    text-transform: uppercase

  &__subheader
    margin-top: .5rem
    font-weight: 700
    text-transform: uppercase
