.single-neighborhoods-intro
  padding-top: 2rem

  &__container
    @include container
    // padding-top: 2rem

  &__column
    @include col(8)
    @include col--offset(2)
    text-align: center

  &__title
    margin-bottom: 1rem

  &__text
    @include desktop
      width: 95%
    width: 100%

.post-blog__content .single-neighborhoods-intro__column
  @include col(12)
  @include col--offset(0)

  /* -------------------------------------------
    Slider Neighborhoods Template Styles
   ------------------------------------------- */

.slider-neighborhoods
  @extend %section-margins
  &__house-display-container
    display: flex
    width: 100%
  &__score
    width: 33%
    &-content
      font-weight: 700
      line-height: 1.2
      // the importants are for the blog post
      margin: 0 !important
    &-label
      line-height: 1.2
      margin: 0 !important
    &-row
      @include phone-lg
        padding-bottom: 0
      display: flex
      padding-bottom: 0.75rem
      border-bottom: 2px solid $c4

  &__price
    width: 50%
    &-heading
      @include desktop
        font-size: rem-calc(20)
      @include phone
        font-size: rem-calc(14)
        line-height: 1
      line-height: 1.3333
      letter-spacing: rem-calc(1.5)
      font-size: rem-calc(18)
      font-weight: 500
      width: 100%
      margin: 0 !important
    &-content
      font-weight: 700
      line-height: 1.2
      margin: 0 !important
    &-label
      line-height: 1.2
      margin: 0 !important
    &-row
      display: flex
      flex-wrap: wrap
      margin-top: 0.75rem !important
      margin-bottom: 0.75rem !important

  &__description
    @include tablet-lg
      font-size: rem-calc(14)
    padding-top: 0.75rem
    border-top: 2px solid $c4

  &__pagination
    &-container
      display: flex
      position: relative
      align-items: center
      width: 100%
    &-line
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
      background: $c7
      width: 100%
      height: 5px
    &-indicator
      transition: width .3s cubic-bezier(.34,.01,.26,1.04)
      z-index: 1
      background: $c3
      height: 6px

  &__empty-state
    display: flex
    justify-content: center
    align-items: center
    min-height: rem-calc(450)
    // height: 200vw
    &-content
      @extend %h3
  &__carousel
    &-controls
      &-container
        @include tablet
          order: -1
          padding-top: 1rem
        display: flex
    &-progress
      width: 100%
      height: 20px
      background-color: $c1
  &__previous
    &-wrapper
      display: flex
      justify-content: center
      transform: scale(-0.5)
      cursor: pointer
      background-color: rgba(0,0,0,0)
      border: none
  &__next
    &-wrapper
      display: flex
      transform: scale(0.5)
      cursor: pointer
      background-color: rgba(0,0,0,0)
      border: none

  &__filters-container
    @include container
    justify-content: center

  &__filters
    @include col(12)
    @include phone
      justify-content: space-between
      margin-bottom: 2rem
    flex-wrap: wrap
    gap: 1rem
    display: flex
    justify-content: center
    margin-bottom: 3rem

  &__filter
    @extend %button-text
    @include hover-supported
      background: $c3 !important
      color: $white !important
    @include nexus
      margin: 0
      padding: rem-calc(12) 0 rem-calc(10)
      width: 30%
      min-width: 0
      min-height: rem-calc(60)
      // border: none
      width: unset
    @include laptop-sm
      width: 45%
    width: 21%
    transition: background .2s ease, color .2s ease
    border: 2px solid $c3
    cursor: pointer
    padding: rem-calc(14) 2rem rem-calc(12)
    min-width: rem-calc(172)
    text-align: center
    background: $white !important
    color: $c3

    &--active
      @include nexus
        background: none
        color: $c6
        // &:after
        //   position: absolute
        //   bottom: -.25rem
        //   left: 50%
        //   transform: translate(-50%)
        //   border-radius: 50%
        //   background: $c6
        //   width: .5rem
        //   height: .5rem
        //   content: ''
      position: relative
      background: $c3 !important
      color: $white !important

  &__legend
    &-container
      @include tablet
        justify-content: center
      @include container
    &-content
      @include col(6)
      @include col--offset(3)
      margin-bottom: 1rem
      &--punctuated
        @include tablet
          max-height: 0
          overflow: hidden
          transition: max-height 0.5s ease-out
        display: flex
        flex-wrap: wrap
        margin-bottom: 1rem
        @include col (10)
        @include col--offset (1)

    &-boxes-container
      display: flex
    &-box
      width: 100%
      height: 1rem
      &-container
        @include tablet
          margin-bottom: 1.5rem
        @include col(4)
      &--filled
        background-color: black
        height: 0.5rem
      // background: linear-gradient(90deg, #A85D5D 0%, #9C5353 25%, #6F1211 50%, #460909 75%, #1C0000 100%)
    &-text-container
      display: flex
      justify-content: space-between
    &-text
      font-size: 1rem

  &__weather-legend
    display: none
    &--active
      display: block

  &__slider
    @include laptop-lg
      padding: 0
    @include phone-lg
      padding: 0
      justify-content: flex-start
    transition: height .3s ease
    padding: 0 2rem
    overflow: auto
    flex-direction: column
    display: flex
    justify-content: space-between

  &__slider-container
    @include container

  &__track
    @include tablet-lg
      margin-left: calc((1 / 12) * 100%)
    @include tablet
      margin-left: 0
    display: flex
    position: relative
    transition: transform .5s ease
    width: 100%

  // &__slide
  //   @include col(4)
  //   @include desktop
  //     min-width: calc((4 / 12) * #{$max-width})
  //     height: calc(((4 / 12) * #{$max-width}) - 2rem)
  //   @include tablet
  //     padding: 0 1rem
  //     min-width: 60vw
  //     height: calc(60vw - 2rem)
  //   @include phone-lg
  //     padding: 0 1rem
  //     min-width: 80vw
  //     height: calc(80vw - 2rem)
  //   position: relative
  //   transition: opacity .5s ease
  //   opacity: .32
  //   cursor: pointer
  //   padding: 0 1rem
  //   min-width: calc((4 / 12) * #{$width})
  //   height: calc(((4 / 12) * #{$width}) - 2rem)

  //   &--curr
  //     opacity: 1
  //     z-index: 1

  // &__image-container
  //   position: relative
  //   background: $gray
  //   width: 100%
  //   height: 100%

  // &__image
  //   @extend %absolute
  //   transition: filter .5s ease
  //   object-fit: cover
  //   filter: grayscale(100%)

  //   .slider-neighborhoods__slide--curr &
  //     filter: grayscale(0%)

  &__content-container
    @include container
    height: 100%
    flex-direction: column
    // overflow: hidden

  &__content-fade
    position: absolute
    bottom: 0
    left: 0
    transition: opacity .3s ease
    background: linear-gradient(rgba($white, 0), rgba($white, 1))
    z-index: 3
    width: 100%
    height: 5rem

  &__content-wrapper
    @extend %absolute
    transition: opacity .5s ease
    opacity: 0
    height: 100%
    pointer-events: none

    &--active
      opacity: 1
      pointer-events: auto

  &__content
    // @include desktop
    //   padding-top: 2.5rem
    // @include nexus
    //   padding-top: 0
    // padding-top: 2rem
    // -ms-overflow-style: none
    // scrollbar-width: none


    &::-webkit-scrollbar
      display: none

    &-container
      height: rem-calc(450)
      transition: height .5s ease

    &-title
      line-height: 1
      margin: 0 0 1rem 0 !important

    &-description
      margin: 0 0 1rem 0 !important

    &-link
      @extend %button-text
      @include hover-supported
        border-color: $c6 !important
        background: $c6 !important
        color: $white !important
      display: inline-block
      position: relative
      transition: all .2s ease
      border: rem-calc(1) solid $c3 !important
      background: $c3 !important
      cursor: pointer
      padding: rem-calc(14) 2rem rem-calc(12)
      text-transform: lowercase
      color: $white !important

    &-icons
      @include tablet
        // flex-direction: column
        // align-items: flex-start
      display: flex
      flex-wrap: wrap
      margin-bottom: rem-calc(24)

    &-icon-container
      @include desktop
        max-width: rem-calc(150)
      @include tablet
        width: calc(50% - 4rem)
      flex: 1
      margin: 2rem 2rem 0
      max-width: rem-calc(120)
      text-align: center

      &:first-of-type
        @include tablet
          margin-left: 2rem
        margin-left: 0

    &-icon
      margin-bottom: .5rem

    &-icon-text
      @extend %h4
      text-transform: uppercase

.listings-single__features
  &-see-more
    @include tablet
      display: block
    display: none
    text-align: center
    margin-bottom: 1rem

  &-see-more-btn
    position: relative
    transition: color .2s ease
    padding-bottom: 4px
    cursor: pointer
    color: $c3

    &::after
      position: absolute
      bottom: 0
      left: 0
      transition: background .2s ease,
      background: $c3
      width: 100%
      height: 2px
      content: ''

    @include hover-supported
      color: $c6
      font-weight: 600

      &::after
        background: $c6

.modal-video-link
  &__video-modal
    position: fixed
    top: 0
    left: 0
    transition: opacity .3s ease
    opacity: 0
    z-index: 9999
    width: 100%
    height: 100%
    pointer-events: none

    &--open
      opacity: 1
      pointer-events: all

  &__button
    display: flex
    position: absolute
    bottom: -50px
    left: 50%
    transform: translateX(-50%)
    transition: background 0.2s ease
    background: #AF5B5B
    cursor: pointer
    padding: 0.875rem 2rem 0.75rem
    text-transform: lowercase
    color: #fff
    max-width: 370px
    justify-content: center
    margin: auto
    // margin-bottom: 2.5%
    // @include desktop
    //   margin-bottom: 5%

  &__video-tour
    display: inline-block
    position: relative
    transition: background 0.2s ease
    background: #AF5B5B
    cursor: pointer
    padding: 0.875rem 2rem 0.75rem
    text-transform: lowercase
    color: #fff
    max-width: 370px
    justify-content: center
    margin: auto
    border: none
    color: #fff !important
    text-decoration: underline
    font-weight: 500
    font-size: .875rem
    @extend %button-text
    @include hover-supported
      border-color: $c6 !important
      background: $c6 !important
      color: $white !important

  &__modal-overlay
    @extend %absolute
    background: rgba($black, .6)

  &__modal-container
    @extend %centered
    @include tablet
      width: 95vw
      height: calc(95vw * .5625)
    @include phone-lg
      height: 60vw
    width: 70vw
    height: calc(70vw * .5625)

  &__video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    overflow: hidden

    @supports (object-fit: cover)
      height: 100%
      object-fit: cover

  &__close-btn
    @include hover-supported
      color: $c4
    position: absolute
    top: -.125rem
    right: 0
    transition: color .2s ease
    background-color: transparent
    border-style: none
    z-index: 2
    cursor: pointer
    // width: 2rem
    // height: 2rem
    color: $white

  &__component-title
    color: $white

  section
    position: relative
