/* -------------------------------------------
    Slider Neighborhoods Template Styles
   ------------------------------------------- */

.slider-neighborhoods
  @extend %section-margins
  overflow: hidden

  &__slider
    @include laptop-lg
      padding: 0
    @include phone-lg
      padding: 0
    transition: height .3s ease
    padding: 0 2rem

  &__slider-container
    @include container

  &__track
    @include tablet-lg
      margin-left: calc((1 / 12) * 100%)
    @include tablet
      margin-left: 0
    display: flex
    position: relative
    transition: transform .5s ease
    width: 100%

  &__slide
    @include col(4)
    @include desktop
      min-width: calc((4 / 12) * #{$max-width})
      height: calc(((4 / 12) * #{$max-width}) - 2rem)
    @include tablet
      padding: 0 1rem
      min-width: 60vw
      height: calc(60vw - 2rem)
    @include phone-lg
      padding: 0 1rem
      min-width: 80vw
      height: calc(80vw - 2rem)
    position: relative
    transition: opacity .5s ease
    opacity: .32
    cursor: pointer
    padding: 0 1rem
    min-width: calc((4 / 12) * #{$width})
    height: calc(((4 / 12) * #{$width}) - 2rem)

    &--curr
      opacity: 1
      z-index: 1

  &__image-container
    position: relative
    background: $gray
    width: 100%
    height: 100%

  &__image
    @extend %absolute
    transition: filter .5s ease
    object-fit: cover
    filter: grayscale(100%)

    .slider-neighborhoods__slide--curr &
      filter: grayscale(0%)

  &__content-container
    @include container

  &__content-fade
    position: absolute
    bottom: 0
    left: 0
    transition: opacity .3s ease
    background: linear-gradient(rgba($white, 0), rgba($white, 1))
    z-index: 3
    width: 100%
    height: 5rem

  &__content-column
    @include col(9)
    @include col--offset(1)
    position: relative

  &__content-wrapper
    @extend %absolute
    transition: opacity .5s ease
    opacity: 0
    height: 100%
    pointer-events: none

    &--active
      opacity: 1
      pointer-events: auto

  &__content
    @include desktop
      padding-top: 2.5rem
    @include nexus
      padding-top: 0
    padding-top: 2rem
    -ms-overflow-style: none
    scrollbar-width: none

    &::-webkit-scrollbar
      display: none

    &-container
      transition: height .5s ease

    &-title
      line-height: 1
      margin: 1rem 0

    &-description
      margin-bottom: 1rem

    &-link
      @extend %button-text
      @include button-solid($c3, $white, $c6)

    &-icons
      @include tablet
        // flex-direction: column
        // align-items: flex-start
      display: flex
      flex-wrap: wrap
      margin-bottom: rem-calc(24)

    &-icon-container
      @include desktop
        max-width: rem-calc(150)
      @include tablet
        width: calc(50% - 4rem)
      flex: 1
      margin: 2rem 2rem 0
      max-width: rem-calc(120)
      text-align: center
    
      &:first-of-type
        @include tablet
          margin-left: 2rem
        margin-left: 0

    &-icon
      margin-bottom: .5rem
    
    &-icon-text
      @extend %h4
      text-transform: uppercase 
