@mixin button($background, $color)
  @include hover-supported
    background: $c6
    color: $white
  display: block
  transition: background .2s ease, color .2s ease
  border: 1px solid $background
  text-align: center
  color: $color

@mixin button-solid($background, $color, $hover)
  @include hover-supported
    border-color: $hover
    background: $hover
    color: $color
  display: inline-block
  position: relative
  transition: all .2s ease
  border: rem-calc(1) solid $background
  background: $background
  cursor: pointer
  padding: rem-calc(14) 2rem rem-calc(12)
  text-transform: lowercase
  color: $color